@font-face {
  font-family: "AvenirLTStd";
  src: font-url('AvenirLTStd-Book.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "AvenirLTStd";
  src: font-url('AvenirLTStd-Heavy.otf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Din Bold";
  src: font-url('DIN-Bold.otf') format("truetype");
}

// Define fonts for body and headers
$body-font: "AvenirLTStd", "Helvetica", "sans-serif";
$headers-font: "Din Bold", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
