.content-wrapper {
  min-height: 200px;
}

.simple-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.grow-1 {
  flex-grow: 1;
}

.padding-30 {
  padding: 30px;
}

.crossed {
  text-decoration: line-through;
  color: $red;
}

.bg-blue {
  background-color: $blue;
  position: relative;
}

.bg-yellow {
  background-color: $yellow;
  position: relative;
}

@media (max-width: 575px) {
  .hide-under-576 {
    display: none!important;
  }
}

@media (max-width: 767px) {
  .hide-under-768 {
    display: none!important;
  }
}
