.dashboard-container {
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    margin-bottom: 20px;
  }
  a {
    color: $dark-gray;
  }
}
#dashboardTab {
  .nav-link.active {
    font-weight: 600;
  }
}
#dashboard {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 30px;
  .dashboard-profile {
  display: flex;
    .dashboard-info,
    .dashboard-map {
      flex-basis: 50%;
    }
    i {
      color: $dark-gray;
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  .dashboard-order {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $light-gray;
    grid-column-gap: 30px;
    margin-bottom: 20px;
    div {
      border-right: 1px solid white;
    }
    div:last-child {
      border-right: 1px solid transparent;
    }
    a {
      color: $dark-gray;
    }
  }
}
