.dashboard-container {
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    margin-bottom: 20px;
  }
  a {
    color: $dark-gray;
  }
}
#dashboardTab {
  .nav-link.active {
    font-weight: 600;
  }
}
#dashboard {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 30px;
  .dashboard-profile {
    display: flex;
    .dashboard-info,
    .dashboard-map {
      flex-basis: 50%;
      min-height: 400px;
    }
    i {
      color: $dark-gray;
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  .dashboard-order {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $light-gray;
    grid-column-gap: 30px;
    margin-bottom: 20px;
    div {
      border-right: 1px solid white;
    }
    div:last-child {
      border-right: 1px solid transparent;
    }
    a {
      color: $dark-gray;
    }
  }
  .dashboard-favorites {
    .dashboard-favorites-products {
      padding: 10px;
      border-bottom: 1px solid lightgray;
      &:hover {
        background-color: $light-gray
      }
      position: relative;
      img {
        margin-right: 10px;
      }
      .remove-favorite {
        position: absolute;
        top: 15px;
        right: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  #dashboard {
    padding: 20px 10px;
    .dashboard-profile i {
      right: 10px;
      h2 {
        font-size: 1.6rem;
        padding-right: 35px;
      }
    }
    .dashboard-order {
      grid-template-columns: 1fr!important;
      grid-row-gap: 20px;
      div {
        border-right: 1px solid transparent!important;
      }
    }
  }
}

@media (max-width: 767px) {
  #dashboard {
    .dashboard-profile {
      flex-direction: column;
    }
    .dashboard-order {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 20px;
      div {
        border-right: 1px solid transparent
      }
      div:nth-child(odd) {
        border-right: 1px solid white
      }
    }
  }
}
