<div class="modal fade" id="atcModal" tabindex="-1" role="dialog" aria-labelledby="atcModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <b><%= @product.name %></b> añadido a su carrito
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">SEGUIR COMPRANDO</button>
        <%= link_to "CARRITO", cart_path(@current_cart), class: "btn btn-primary" %>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
