<div id="hp-carousel-doctor" class="carousel slide bg-yellow" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-slide-id="1">
      <div class="d-flex h-100">
        <img src="https://picsum.photos/1000/250" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div>
            <h3>DOCTORA 1</h3>
            <h3>NOMBRE</h3>
            <h3>APELLIDO</h3>
            <p>ESPECIALIDAD</p>
            <a href="#" class="btn btn-blue"><%= image_tag 'symbol.svg' %>HACER UNA CITA</a>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="carousel-item" data-slide-id="2">
      <div class="d-flex h-100">
        <img src="https://picsum.photos/1000/250" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div>
            <h3>DOCTORA 2</h3>
            <h3>NOMBRE</h3>
            <h3>APELLIDO</h3>
            <p>ESPECIALIDAD</p>
            <a href="#" class="btn btn-blue"><%= image_tag 'symbol.svg' %>HACER UNA CITA</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-slide-id="3">
      <div class="d-flex h-100">
        <img src="https://picsum.photos/1000/250" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div>
            <h3>DOCTORA 3</h3>
            <h3>NOMBRE</h3>
            <h3>APELLIDO</h3>
            <p>ESPECIALIDAD</p>
            <a href="#" class="btn btn-blue"><%= image_tag 'symbol.svg' %>HACER UNA CITA</a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="container">
    <a class="carousel-control-prev" href="#hp-carousel-doctor" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#hp-carousel-doctor" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="hp-carousel-doctors-grid-container bg-yellow">
  <div class="container hp-carousel-doctors-grid">
    <div class="hp-carousel-doctor-profile" data-slide-id="1">
      <img src="https://picsum.photos/300/300" class="d-block" alt="...">
      <a href="" class="active">
        <h3>DOCTORA 1</h3>
        <h3>NOMBRE</h3>
        <h3>APELLIDO</h3>
        <p>ESPECIALIDAD</p>
      </a>
    </div>
    <div class="hp-carousel-doctor-profile" data-slide-id="2">
      <img src="https://picsum.photos/300/300" class="d-block" alt="...">
      <a href="">
        <h3>DOCTORA 2</h3>
        <h3>NOMBRE</h3>
        <h3>APELLIDO</h3>
        <p>ESPECIALIDAD</p>
      </a>
    </div>
    <div class="hp-carousel-doctor-profile" data-slide-id="3">
      <img src="https://picsum.photos/300/300" class="d-block" alt="...">
      <a href="">
        <h3>DOCTORA 3</h3>
        <h3>NOMBRE</h3>
        <h3>APELLIDO</h3>
        <p>ESPECIALIDAD</p>
      </a>
    </div>
  </div>
</div>
