<div id="footer">
  <div class="container">
    <%= image_tag 'logo-footer.svg', class: 'logo-footer' %>
    <div class="footer-items">
      <div class="footer-item">
        <h5>NOSOTROS</h5>
        <p><a href="">TÉRMINOS Y CONDICIONES</a></p>
        <p><a href="">VENTAS AL POR MAYOR</a></p>
        <p><a href="">COVID 19</a></p>
      </div>
      <div class="footer-item">
        <h5>CONTÁCTANOS</h5>
        <p><a href="https://wa.me/1XXXXXXXXXX"><i class="fab fa-whatsapp"></i> POR WHATSAPP</a></p>
        <p><a href="">PREGUNTAS FRECUENTES</a></p>
        <p><a href="">CAMBIOS Y DEVOLUCIONES</a></p>
      </div>
      <div class="footer-item">
        <h5>HORARIOS DE ENTREGA</h5>
        <p>LUNES A VIERNES 9:00 AM / 6.00 PM</p>
        <p>SABADOS 9:00 AM / 5:00 PM</p>
        <p>ENVÍOS Y ÁREAS DE COBERTURA</p>
      </div>
    </div>
    <div class="social">
      <div class="hide-under-768"></div>
      <div class="">
        <%= image_tag 'instagram.png' %>
        <%= image_tag 'facebook.png' %>
        <%= image_tag 'twitter.png' %>
      </div>
      <div class="hide-under-768"></div>
    </div>
  </div>
</div>
