
  <div id="order-breadcrumb" class="w-100">
    <div class="order-breadcrumb-item <%= @breadcrumb_contact_class %>">
      <div class="number">1</div>
      <span>INFORMACIÓN DE CONTACTO</span>
    </div>
    <div class="order-breadcrumb-item <%= @breadcrumb_shipping_class %>">
      <div class="number">2</div>
      <span>DIRECCIÓN</span>
    </div>
    <div class="order-breadcrumb-item <%= @breadcrumb_review_class %>">
      <div class="number">3</div>
      <span>REVISIÓN</span>
    </div>
    <div class="order-breadcrumb-item <%= @breadcrumb_confirm_class %>">
      <div class="number">4</div>
      <span>CONFIRMACIÓN</span>
    </div>
  </div>
