<div class="container my-5 info-pages">
  <h1 class="mb-3">Nosotros</h1>

  <p>Somos una empresa panameña creada en el 2008 que logra utilizar la tecnología, la
excelencia en el servicio y el comercio electrónico para dar soluciones a nuestros
clientes en ventas al detal y al por mayor con los productos de la más alta calidad.
Nuestra propuesta de valor incluye mantener precios competitivos en el mercado y
hacer todos nuestros despachos en 24 horas en toda la ciudad de Panamá.</p>

  <p>Nuestros valores corporativos son la integridad, la excelencia, el trabajo en equipo y la
  resiliencia. Creemos fielmente en la sana cultura organizacional y en la confianza
  dentro de nuestros equipos de trabajo.</p>
</div>
