<div class="container my-5 info-pages">
  <h1 class="mb-3">SARS-CoV-2 / COVID-19</h1>

  <p>Durante estos tiempos sin precedentes en el siglo XXI queremos acompañarte en estos
momentos difíciles, por eso tomamos las siguientes medidas:</p>

  <h2>Tomamos las precauciones de bioseguridad</h2>
  <p>Seguimos trabajando para acercarte todo lo que necesitas y para garantizar la calidad
de nuestro servicio, en un ambiente de compra y trabajo seguro para todos y
cumpliendo con las medidas dispuestas por el <%= link_to 'Ministerio de Salud de Panamá.', 'http://www.minsa.gob.pa/', target: '_blank' %></p>

  <h2>Productos de protección personal para todos</h2>
  <p>Todos nuestros clientes puedes acceder a los mejores precios del mercado en todos
nuestros productos para su protección personal, la de sus familiares, amigos,
asociados y equipos de trabajo.</p>

  <h2>Venta y consumo responsable</h2>
  <p>Controlamos las publicaciones de nuestros productos de protección personal para que
puedas comprarlos a un precio justo y accesible.</p>
</div>

