<div class="container my-5 info-pages">
  <h1 class="mb-3">Preguntas Frecuentes</h1>

  <h2>¿Cuáles son los tiempos de entrega?</h2>
  <p>Actualmente todos los pedidos dentro de ciudad de Panamá son despachados en 24
horas. Para pedidos al interior o al por mayor (wholesale) los tiempos de entrega
pueden variar.</p>

  <h2>¿Cómo puedo hacer una compra al por mayor o wholesale?</h2>
  <p>Con mucho gusto podemos hacer ventas al por mayor (wholesale) dentro de la ciudad
de Panamá y en toda la cobertura nacional. Solo escríbenos a <u>ops@blueforestpanama.com</u> o a nuestro Whatsapp para procesar tu cotización.</p>

  <h2>Realice un pedido y no recibo correo electrónico de confirmación ¿Qué pasó?</h2>
  <p>Te recomendamos buscar en tu bandeja de correos no deseados, de lo contrario revisa
el correo que colocaste en nuestro sitio web.</p>

  <h2>¿Cómo puedo cambiar o cancelar mi pedido?</h2>
  <p>Contáctanos vía Whatsapp en el caso de que tengas cualquier consulta de cambio o
cancelación.</p>

  <h2>¿Qué pasa si recibo mi pedido incompleto?</h2>
  <p>No te preocupes, te despacharemos el producto faltante con mucha prontitud. En el
caso que no tengamos el producto deseado buscaremos uno sustituto que llene tus
expectativas.</p>

  <h2>¿Qué métodos de pago aceptan?</h2>
  <p>Actualmente todos los pagos se hacen contra entrega, nuestro motorizado tiene un
punto remoto donde puedes pagar con tarjeta de débito o crédito, también aceptamos
Yappy, transferencia bancaria y efectivo.</p>

  <h2>¿Cómo puedo ser parte del equipo Blue Forest Panamá?</h2>
  <p>Si quieres ser parte de nuestro equipo, envíanos tu hoja de vida a
  <u>ops@blueforestpanama.com</u></p>
</div>


