<div class="container my-5 info-pages">
  <h1 class="mb-3">Cambios y Devoluciones</h1>
  <p>Actualmente la mayoría de nuestro catálogo de productos es de uso personal, para
cualquier cambio o devolución el producto debe estar en el empaque original y sin
haber sido utilizado. No obstante, para cualquier situación de calidad en la presentación
o utilización de nuestros productos, por favor contáctenos por Whatsapp para evaluar
su solicitud y darle la mejor solución ¡Estamos para servirle!</p>

<p>Si usted desea hacer cambios por otros productos con diferentes precios, usted seria
reembolsado si existiese una diferencia menor en el segundo producto seleccionado,
de lo contrario usted pagaría la diferencia por los métodos de pagos que tenemos
actualmente.</p>
</div>
