<div class="container my-5 info-pages">
  <h1 class="mb-3">Envíos y Áreas de Cobertura</h1>
  <p>Garantizamos nuestros envíos en la Ciudad de Panamá en 24 horas, nuestras áreas de
cobertura son:</p>
  <ul>
    <li>11 de Octubre</li>
    <li>Albrook</li>
    <li>Av. Balboa</li>
    <li>Bella Vista</li>
    <li>Bethania</li>
    <li>Brisas del Golf</li>
    <li>Calle 50</li>
    <li>Camino Real</li>
    <li>Campo Lindbergh</li>
    <li>Carrasquilla</li>
    <li>Casco Antiguo</li>
    <li>Chanis</li>
    <li>Clayton</li>
    <li>Club de Golf</li>
    <li>Coco del Mar</li>
    <li>Condado del Rey</li>
    <li>Costa del Este</li>
    <li>Costa Sur</li>
    <li>Diablo</li>
    <li>Don Bosco</li>
    <li>Dos Mares</li>
    <li>Edison Park</li>
    <li>El Cangrejo</li>
    <li>El Carmen</li>
    <li>El Dorado</li>
    <li>El Doral</li>
    <li>La Alameda</li>
    <li>La Boca</li>
    <li>La Cresta</li>
    <li>La Locería</li>
    <li>Las Acacias</li>
    <li>Las Mercedes</li>
    <li>Los Ángeles</li>
    <li>Marcasa</li>
    <li>Marbella</li>
    <li>Obarrio</li>
    <li>Parque Lefevre</li>
    <li>Punta Pacífica</li>
    <li>Punta Paitilla</li>
    <li>Residencial El Bosque</li>
    <li>Río Abajo</li>
    <li>San Antonio</li>
    <li>San Francisco</li>
    <li>Santa María</li>
    <li>Versalles</li>
    <li>Villa de las Fuentes</li>
    <li>Villa Lorena</li>
    <li>Villa Lucre</li>
    <li>Vía Argentina</li>
    <li>Vía España</li>
  </ul>
</div>
