<div class="container my-5 info-pages">
  <h1 class="mb-3">Ventas al por mayor</h1>
  <p>Si estas interesado en cualquiera de nuestros productos al por mayor escríbenos al
correo electrónico <u>ops@blueforestpanama.com</u> para darte la mejor atención y una
cotización con los productos y volúmenes de tu interés.</p>

  <p>Los precios de nuestros productos al por mayor pueden variar para tu beneficio y el de
  tus clientes o asociados, los tiempos de entrega pueden variar con diferencia a
  nuestras ventas al detal en nuestro sitio web.</p>
</div>
