<h1>Carts#show</h1>

<div class="container">
  <% @cart.product_variations.each do |variation| %>
    <p><%= variation.product.name %> | <%= variation.size %> | <%= variation.color %></p>
  <% end %>

  <%= link_to "Proceed to checkout", new_order_path %><br>
</div>
