.btn {
  border-radius: 0px;
  padding: 20px 40px;
  color: white!important;
  opacity: 0.8;
  transition: opacity .3s ease;
  text-transform: uppercase;
  &:hover {
    opacity: 1;
    color: white;
  }
  a {
    color: white!important;
    &:hover {
      color: white;
    }
  }
}

.btn-blue {
  background-color: $blue;
}

.btn-yellow {
  background-color: $yellow;
}
