#hp-carousel {
  background-color: transparent;
  height: 350px;
  .carousel-caption {
    top: 100px;
    text-align: left;
  }
  .carousel-item {
    height: 350px;
    img {
      opacity: 0.6;
      object-fit: cover;
      height: 100%;
    }
  }
}
