.carousel-container {
  height: 425px;
}

#hp-carousel {
  position: absolute;
  width: 100%;
  top: 35px;
  .container {
    position: relative;
  }
  .carousel-control-prev {
    left: -100px;
  }
  .carousel-control-next {
    right: -100px;
  }
  .carousel-caption {
    top: 100px;
    text-align: left;
  }
  .carousel-item {
    height: 350px;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  .carousel-bottom-banner {
    height: 75px;
    color: white;
    background-color: $dark-blue;
    img {
      width: 40px;
      margin-right: 30px;
    }
  }
}


#hp-carousel-doctor {
  height: 350px;
  .carousel-inner {
    position: absolute;
    height: 100%;
    top: 0px;
    .carousel-item {
      height: 100%;
      img {
        height: 100%;
        width: 850px;
        object-fit: cover;
      }
      .carousel-caption {
        display: flex!important;
        justify-items: center;
        align-items: center;
        padding-left: 40px;
        position: relative;
        right: auto;
        bottom: auto;
        left: auto;
        a {
          padding: 20px 40px;
          background-color: $blue;
          border-radius: 0px;
          margin-left: -100px;
        }
        img {
          width: 15px;
          margin-right: 40px;
        }
      }
    }
  }
  .container {
    position: relative;
    height: 100%;
    .carousel-control-prev {
    left: -100px;
    }
    .carousel-control-next {
    right: -100px;
    }
  }
}

.hp-carousel-doctors-grid-container {
  padding-bottom: 50px;
}

.hp-carousel-doctors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  height: 290px;
  padding-bottom: 50px;
  .hp-carousel-doctor-profile {
    background-color: white;
    margin-top: -30px;
    position: relative;
    img {
      padding: 35px;
      width: 100%;
    }
    a {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(10, 31, 143, 0.9);
      color: white;
      &:hover {
        text-decoration: none;
      }
      &.active {
        display: flex;
      }
    }
  }
}


.carousel-control-prev-icon {
  background-image: url('flechas-01.png');
  height: 22px;
  width: 15px;
}

.carousel-control-next-icon {
  background-image: url('flechas-02.png');
  height: 22px;
  width: 15px;
}
