#footer {
  background-color: $blue;
  margin-top: 50px;
 .logo-footer {
    padding: 30px 0;
    width: 100px;
    display: block;
  }
  .footer-items {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-bottom: 30px;
    .footer-item {
      border-right: 2px solid $light-blue;
      &:last-child {
        border-right: 2px solid transparent;
      }
      p {
        font-size: 12px;
      }
      a, h5, p {
        color: white;
      }
      i {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
  .social {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding-bottom: 30px;
    img {
      width: 40px;
      margin-right: 10px;
    }
  }
}


@media (max-width: 767px) {
  #footer .footer-items {
    grid-template-columns: repeat(1, 1fr);
    .footer-item {
      border-right: none;
      padding-bottom: 15px;
    }
  }

  #footer .social {
    grid-template-columns: repeat(1, 1fr);
  }
}
