.login-container {
  max-width: 500px;
  h2 {
    margin-bottom: 20px;
  }
  form {
    margin-bottom: 20px;
  }
  input {
    height: 50px;
  }
  .btn {
    padding: 10px;
  }
  a {
    color: $dark-gray;
  }
}

#product-creation {
  .product-with-color,
  .product-without-color {
    margin-bottom: 15px;
  }
  .color-variation,
  .product-without-color .size-variation {
    background-color: $gray;
    padding: 15px;
    margin-bottom: 15px;
  }

  .product-with-color {
    .color-selections {
      display: flex;
      justify-content: space-evenly;
      .color-selection {
        width: 60px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $dark-gray;
        cursor: pointer;
      }
    }
  }

  .size-variation,
  .product-photo {
    display: flex;
    .form-group {
      margin: 0 10px;
    }
  }

  .product-photos {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
