.login-container {
  max-width: 500px;
  h2 {
    margin-bottom: 20px;
  }
  form {
    margin-bottom: 20px;
  }
  input {
    height: 50px;
  }
  .btn {
    padding: 10px;
  }
  a {
    color: $dark-gray;
  }
}

#product-creation-container {
  .product-with-color,
  .product-without-color {
    margin-bottom: 15px;
  }
  .color-element,
  .product-without-color {
    background-color: $gray;
    padding: 15px;
    margin-bottom: 15px;
  }

  .product-with-color {
    .color-selections {
      display: flex;
      justify-content: space-evenly;
      .color-selection {
        width: 60px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $dark-gray;
        cursor: pointer;
      }
    }
  }

  .size-element,
  .photo-element {
    display: flex;
    position: relative;
    .form-group {
      margin: 0 10px;
    }
  }

  .photo-element{
    margin-bottom: 10px;
  }

  .remove-element {
    position: absolute;
    top: 0;
    right: 0;
    i:hover {
      cursor: pointer;
      color: white;
    }
  }
  .remove-element[data-type='color'] {
    position: relative;
    text-align: right;
    margin-bottom: 10px;
  }
}
