.header {
  background-image: url('background-01.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 1000px;
}


@media (min-width: 1300px) {
  .header {
    background-size: 1500px;
  }
}

@media (min-width: 1700px) {
  .header {
    background-size: 2000px;
  }
}

