.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon {
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-lewagon .navbar-brand img {
  width: 40px;
  }
  .cart-toggle {
    cursor: pointer;
  }
}

.cart-icon {
  position: relative;
  i {
    line-height: inherit;
  }
  span {
    position: absolute;
    background-color: #75858D;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    top: 1px;
    right: -5px;
    font-size: 12px;
    border: 1px solid white;
  }
}
