.navbar-container {
  padding-top: 2.3rem;
  padding-bottom: 0.5rem;
}

.navbar-blueforest {
  justify-content: space-between;
  background: transparent;
  .navbar-brand img {
    width: 300px;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-blueforest .navbar-brand img {
  width: 40px;
  }
  .nav-item {
    border-right: 1px solid $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-link {
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
      padding: 1rem 1.5rem;
      opacity: 0.7;
      transition: opacity .3s ease;
      &:hover {
        opacity: 1;
        color: white;
      }
    }
  }
  .nav-item:last-child {
    border-right: 1px solid transparent;
  }
  .cart-toggle {
    cursor: pointer;
  }
}

.cart-icon {
  position: relative;
  padding-left: 1.5rem;
  opacity: 0.7;
  transition: opacity .3s ease;
  &:hover {
    opacity: 1;
  }
  img {
    width: 18px;
    margin-bottom: 5px;
  }
  span {
    position: absolute;
    background-color: #75858D;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    top: 1px;
    right: -5px;
    font-size: 12px;
    border: 1px solid white;
  }
}


@media (max-width: 767px) {
  .navbar-blueforest {
    .navbar-brand img {
      width: 160px;
    }
  }
}
