.pdp {
  background-color: #f7f7f7;
  div {
    flex-basis: 50%;
  }
  .product-info {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .variations {
    margin-bottom: 30px;
  }
  .prices {
    font-size: 30px;
  }
  .color {
    display: flex;
    margin-bottom: 30px;
  }
  .color div {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $light-gray;
    margin-right: 5px;
  }
  .size-selection-warning {
    display: none;
  }
  .atc-container {
    position: relative;
    .atc {
      background-color: #ffbf3c;
      color: white;
      border-radius: 0;
      padding: 15px;
      span:first-child {
        border-right: 1px solid white;
        padding: 10px 15px 10px 0;
      }
      span:last-child {
        padding-left:15px;
      }
    }
    .atc-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.pdp .size {
  label {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  input {
    display: none;
  }
  label:hover {
    border: 1px solid black;
  }
  input:checked + label {
    border: 1px solid black;
  }
}
