.unpublished-warning {
  width: 100%;
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px 0;
  font-weight: 600;
}

.pdp-container {
  margin-top: 35px;
}

.pdp {
  background-color: #f7f7f7;
  margin-bottom: -50px;
  div {
    flex-basis: 50%;
  }
  .product-image {
    width: 100%;
    object-fit: cover;
  }
  .product-info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f7;
  }
  .variations {
    margin-bottom: 30px;
  }
  .prices {
    font-size: 30px;
  }
  .color {
    display: flex;
    margin-bottom: 30px;
  }
  .color div {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $light-gray;
    margin-right: 5px;
  }
  .size-selection-warning {
    display: none;
  }
  .atc-container {
    position: relative;
    span:first-child {
      border-right: 1px solid white;
      padding: 10px 15px 10px 0;
    }
    span:last-child {
      padding-left:15px;
    }
    .atc-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.pdp .sizes {
  label {
    border: 1px solid lightgray;
    padding: 10px 10px 5px 10px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: border .3s, color .3s ease;
    &:hover {
      border: 1px solid $dark-gray;
      color: $dark-gray;
    }
  }
  input {
    display: none;
    &:checked + label {
      border: 1px solid $dark-gray;
      color: $dark-gray;
    }
    &:disabled + label {
      color: $light-gray;
      border: 1px solid $light-gray;
      cursor: not-allowed;
    }
  }
}

.pdp .colors {
  label {
    border: 1px solid $gray;
    margin-right: 5px;
    cursor: pointer;
    width: 45px;
    height: 30px;
    transition: opacity .3s, outline .3s ease;
    opacity: 0.5;
    margin: 10px;
    outline: 1px solid transparent;
    &:hover {
      opacity: 1;
      outline: 1px solid $dark-gray;
    }
  }
  input {
    display: none;
    &:checked + label {
      opacity: 1;
      outline: 1px solid $dark-gray;
    }
  }
}


.product-detail-container {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: image-url('background-02.svg');
  background-position: right;
  background-repeat-x: no-repeat;
  background-size: 1000px;
  background-position-y: 126px;
  .product-detail {
    background-color: rgba(255,255,255,.7);
    padding: 40px;
  }
}


@media (min-width: 1300px) {
  .product-detail-container {
    background-size: 1500px;
    background-position-y: 498px;
  }
}

@media (min-width: 1700px) {
  .product-detail-container  {
    background-size: 2000px;
    background-position-y: -610px;
  }
}

@media (max-width: 575px) {
  .pdp {
    .product-image {
      height: 300px;
    }
    .product-info {
      padding: 30px;
    }
    .atc {
      padding: 20px;
    }
  }
}

@media (max-width: 767px) {
  .pdp {
    flex-direction: column;
  }
}

