.pdp {
  .product-info {
    margin-left: 30px;
    margin-top: 30px;
  }
  .variations {
    margin-bottom: 30px;
  }
  .price {
    font-size: 30px;
  }
  .color {
    display: flex;
    margin-bottom: 30px;
  }
  .color div {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-right: 5px;
  }
  .atc-container {
    position: relative;
    .atc-overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.pdp .size {
  label {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  input {
    display: none;
  }
  label:hover {
    border: 1px solid black;
  }
  input:checked + label {
    border: 1px solid black;
  }
}
