.product-grid-container {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: white;
  background-image: image-url('background-02.svg');
  background-position: right;
  background-repeat-x: no-repeat;
  background-size: 1000px;
  background-position-y: 186px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  .product {
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    overflow: hidden;
    img {
      object-fit: cover;
    }
    .product-grid-info-container {
      background-color: white;
      display: flex;
      align-items: center;
      padding: 15px;
      background-color: $blue;
      color: white;
      border-right: 1px solid #3f3f75;
      img {
        width: 15px;
        margin-right: 20px;
        margin-left: 10px;
      }
      .product-grid-info {
        padding: 5px 20px;
        border-left: 1px solid $light-blue;
      }
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: transparent;
      text-decoration: none;
      padding: 0 50px;
      background-color: transparent;
      transition: color .8s, background-color .5s ease;
      div {
        display:none;
      }
      &:hover {
        color: white;
        background-color: rgba(10, 31, 143, 0.9);
      }
      &:hover div {
        display: block;
      }
    }
  }
  .product:nth-child(3n-1) .product-grid-info-container {
    background-color: $dark-blue;
  }
}

@media (max-width: 991px) {
  .products {
    .product .product-grid-info-container {
      background-color: $blue!important;
    }
    .product:nth-child(even) .product-grid-info-container {
      background-color: $dark-blue!important;
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .products {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .products {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .product-grid-container {
    background-size: 1500px;
    background-position-y: 558px;
  }
}


@media (min-width: 1700px) {
  .product-grid-container  {
    background-size: 2000px;
    background-position-y: -551px;
  }
}
