.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}

.product {
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border: 1px solid lightgray;
  .product-grid-info {
    display: flex;
    margin: 10px 0;
    padding: 0 10px;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .products {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .products {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
