.top-banner {
  background-color: $yellow;
  height: 35px;
  color: $blue;
  text-transform: uppercase;
  h6 {
    margin-bottom: 0px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .top-banner h6 {
    font-size: 11px;
  }
}
