<!-- render add to cart modal if params is present -->
<%= render 'shared/atc_modal' if params[:atc_modal] %>
<div class="product-grid-container">
  <div class="container">
    <%= render 'shared/products_grid' %>
  </div>
</div>

<%#= render 'shared/carousel_doctors' %>


