<%= render 'shared/carousel' %>
<%= render 'shared/features' %>

<div class="container mt-5">
  <h2 class="text-center mb-5">Nuestros productos</h2>
  <div class="products">
    <% @products.each do |product| %>
      <div class="product">
        <img src="https://picsum.photos/200" alt="">
        <b><%= product.name %></b>
        $<%= product.price %>
      </div>
    <% end %>
  </div>
</div>


